.Banner1 {
  height: 450px;
}
.Banner2 {
  height: 450px;
}
.Banner3 {
  height: 450px;
}
.web-name {
  margin-right: 100px;
}
.btn {
  margin-left: 100px;
}
.navbar {
  font-size: 20px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.navbar {
  background-color: (135deg, #dc3545 0%, #a71d2a 100%);
}
.nav-link {
  margin-left: 20px;
  color: white;
}
.card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
